@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable horizontal scrolling */

/* For WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar:horizontal {
    width: 6px; /* Required for Firefox */
    height: 6px; /* Required for Firefox */
}
  
::-webkit-scrollbar-thumb:horizontal {
display: none;
}
  
/* For Firefox */
* {
scrollbar-width: none; /* Remove both horizontal and vertical scrollbars */
}

@layer components{
    .icons {
        @apply w-6 h-6   
    }
    .icon-fill {
        @apply w-6 h-6  fill-brand-text/60 dark:fill-brand-text-light/50 dark:hover:fill-brand-text-light/80
    }
    .icon-text{
        @apply text-brand-text/60 dark:text-brand-text-light/50 dark:hover:text-brand-text-light/80
    }

    .icon-stroke {
        @apply w-6 h-6 stroke-brand-text/60 dark:stroke-brand-text-light/50 dark:hover:stroke-brand-text-light/80
    }
    .brand-ring{
        @apply ring-1 ring-border-darker  dark:ring-white/10
    }
    .brand-text{
        @apply text-brand-text dark:text-brand-text-light/80

    }
}

